.landing-page {
    display: flex;
    background-image: url('../assets/LandingBackground.svg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}

.landing-page main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}